*{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style-type: none;
}
#content{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*content-wrap中position为什么是relative?在这里把width和height
表示出来背景图才能显示*/
.content-wrap{
    position: relative;
}
.content-wrap>li{
    position: relative;
    float:left;
    overflow: hidden;
}

/*第一场景*/
/*第一场景背景图*/
.guokeda{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/guokeda.png')  no-repeat;
    background-size: 100% 100%;
}
/*sun的css3动画*/
.sun{
    position: absolute;
    height: 210px;
    width: 210px;
    top:-30px;
    right: 40%;
    z-index: 1;
    background: url('images/sun.png') no-repeat;
}
.rotation{
    animation-name: sunRotation;
    animation-duration: 30s;
}
@keyframes sunRotation{
    0%{
        transform: translateX(0) translateY(0);
    }
    100%{
        transform: translateX(-2000px) translateY(400px);
    }
}
/*第一场景云的CSS动画*/
.cloudArea{
    position: absolute;
    z-index: 1;
}
.cloud1{
    position: absolute;
    z-index:2;
    width:181px;
    height: 101px;
    left:-5%;
    top:15%;
    background: url('images/cloud1.png') no-repeat;
}
.cloud2{
    position: absolute;
    z-index:2;
    width:301px;
    height: 140px;
    right:15%;
    top:10%;
    background: url('images/cloud2.png') no-repeat;
    background-size: 100% 100%;
}
.translate1{
    animation-name: translate1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.translate2{
    animation-name: translate2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes translate1{
    0%{
        left:-5%;
    }
    100%{
        left:100%;
    }
}
@keyframes translate2{
    0%{
        right:15%;
    }
    100%{
        right:100%;
    }
}

/*第二个场景*/
/*第二场景背景图*/
.shopping{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/QixiB-dark.png')  no-repeat;
    background-size: 100% 100%;
}
.shopping-preload{
    background: url('images/QixiB-bright.png') no-repeat -9999px -9999px;
}
.shop{
    position: relative;
    width: 39.5%;
    height: 35.5%;
    left: 29%;
    top: 36.5%;
}
/*第二场景中商店的门*/
.doors {
    position: absolute;
    width: 32%;
    top: 32%;
    height: 68%;
    left: 58.5%;
    overflow: hidden;
}
.door-left,.door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}
.door-left{
    left:0%;
    background: url('images/door-left.png') no-repeat;
    background-size: 100% 100%;
}
.door-right{
    right:0%;
    background: url('images/door-right.png') no-repeat;
    background-size: 100% 100%;
}
/*第二场景中的灯*/
.lamp-bright{
    background: url('images/QixiB-bright.png') no-repeat;
    background-size: 100% 100%;
}
/*第二场中的鸟*/
.bird{
    position: absolute;
    right:25%;
    top:5%;
    width: 91px;
    height: 71px;
    z-index: 1;
    background: url(images/bird.png) no-repeat;
}
.birdFly{
    animation-name: birdCanFly;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}
@keyframes birdCanFly{
    0% {
        background-position: -182px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    75% {
        background-position: -91px 0px;
    }
    100% {
        background-position: -182px 0px;
    }
}
/*第三场景背景图*/
.meeting{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/QixiC.png')  no-repeat;
    background-size: 100% 100%;
}
/*第三场景中的女孩*/
.girl{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 151px;
    height: 291px;
    background: url(images/girl.png) -755px 0px no-repeat;
}
.girl-rotate {
    animation-name: girl-rotate;
    animation-duration: 850ms;
    animation-iteration-count: 1;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
}

@keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}
/*波浪水布局*/

.water-bridge {
    position: absolute;
    width: 41%;
    height: 24%;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
}

.water1,
.water2,
.water3,
.water4 {
    width: 100%;
    position: absolute;
    height: 50%;
    animation-name: shake;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.water1 {
    width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url(images/water.png) -261px -0px no-repeat;
}

.water2 {
    width: 161px;
    height: 9px;
    top: 30%;
    left: 45%;
    background: url(images/water.png) -693px -0px no-repeat;
    animation-delay: 2s;
}

.water3 {
    width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url(images/water.png) -0px -0px no-repeat;
    animation-delay: 1s;
}

.water4 {
    width: 301px;
    height: 12px;
    top: 75%;
    left: 30%;
    background: url(images/water.png) -392px -0px no-repeat;
    animation-delay: 3s;
}
@keyframes shake{
    0%,100%{
         transform: translate3d(0,0,0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
       transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
       transform: translate3d(30px, 0px, 0);
    }
}
/*星星的位置*/
.star{
    position: absolute;
    width: 100%;
    height: 100%;
}
.star1,
.star2,
.star3,
.star4,
.star5{
    position: absolute;
    width: 30px;
    height: 31px;
    background: url(images/stars.png);
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
}
.star1{
    top: 20%;
    left: 30%;
}

.star2 {
    top: 15%;
    left: 20%;
    animation-delay: 1s;
}

.star3 {
    top: 25%;
    left: 85%;
}

.star4 {
    top: 30%;
    left: 70%;
    animation-delay: 1s;
}

.star5 {
    top: 25%;
    left: 20%;
}
/*星星闪烁*/
@keyframes blink{
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
/*logo的布局*/
.logo{
    position: absolute;
    width: 185px;
    height: 81px;
    background: url(images/logov.png);
    z-index: 999;
    left: 50%;
    top:30px;
    margin-left: -92.5px;
    display: none;
}
.logoLightSpeedIn{
    display: block;
    animation-name: lightSpeedIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes lightSpeedIn{
    0%{
        transform: translate(92.5px,0) skewX(-30deg);
        opacity: 0;
    }
    60%{
        transform: skewX(-20deg);
        opacity: 1;
    }
    80%{
        transform: skewX(-5deg);
        opacity: 1;
       }
    100%{
        transform: none;
        opacity: 1;
    }

}
.logoShake{
    animation-name: logoshake;
    animation-duration: 0.5s;
}

@keyframes logoshake{
    0%,100%{
        transform: translateX(0,0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-5px, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate(10px, 0);
    }
}
/*雪花飘落*/
.snow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.snowRoll{
    animation-name: snowroll;
    animation-duration: 20s;
    opacity: 0;
}
@keyframes snowroll{
    0%{bottom: 100%}
    50%{transform: rotate(1080deg)}
    100%{transform: rotate(0deg) translate3d(50px,50px,50px)}
}
/*小男孩的样式*/
.charactor{
    position: absolute;
    width: 151px;
    height: 291px;
    left: 6%;
    top:40%;
    background: url('images/boy.png') -0px -291px no-repeat;
}
/*小男孩原地走路动画*/
.slowWalk{
    animation-name: person-slow;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1,start); 
}
@keyframes person-slow{
    0%{
        background-position: -0px -291px;
    }
    25%{
        background-position: -602px -0px;
    }
     50%{
        background-position: -302px -291px;
    }
    75%{
        background-position: -151px -291px;
    }
    100%{
        background-position: -0px -291px;
     }
}
/*小男孩暂停*/
.pauseWalk{
    animation-play-state: paused; 
}
/*小男孩拿完花后的动画*/
.slowFlowerWalk{
    animation-name: flowerWalk;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1,start);
}

@keyframes flowerWalk{
    0% {
        background-position: -453px -0px;
    }
    25% {
        background-position: -904px -0px;
    }
    50% {
        background-position: -451px -0px;
    }
    75% {
        background-position: -753px -0px;
    }
    100% {
        background-position: -300px -0px;
    }
}
.boyOriginal{
    background-position: -150px -0px;
}
.boyrotation{
    animation-name: boy-rotation;
    animation-duration: 850ms;
    animation-iteration-count: 1;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
}
@keyframes boy-rotation {
    0% {
        background-position: -603px -291px;
    }
    16.7% {
        background-position: -150px -0px;
    }
    33.4% {
        background-position: -453px -291px;
    }
    50.1% {
        background-position: -0px -0px;
       }
    66.8% {
        background-position: -903px -291px;
    }
    83.5% {
        background-position: -753px -291px;
    }
    100% {
        background-position: -603px -291px;
    }
}